* {
    padding: 0;
    margin: 0;
    font-family: 'Lato'
}

/* Banner style start  */
.banner {
    background-color: rgb(255, 240, 240);
    height: 80vh;


}

.banner-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-pic {
    width: 400px;
    height: 540px;
    margin-top: 55px;
    margin-right: 245px;
}

.banner-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
}

.banner-desc {
    width: 592px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}

.banner-content {
    margin-left: 240px;
}

.btn-prime {
    border-radius: 8px;
    background: #E55473;
    border: none;
    height: 50px;
    width: 110px;
    padding: 10px;
    margin: 10px;
    color: white;
}

/* Banner style End */


/* Featured Section Design Start */

.featured {
    height: 100vh;
}

.fd-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 20px;
}

.fd-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin: auto;
}

.featured-container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 150px;
    margin-left: 350px;
}

.featured-backgroud1 {
    height: 285px;
    width: 250px;
    /* border: 2px solid red; */
    border-radius: 130px 130px 0 0;
    background-color: rgba(167, 33, 98, 0.15);
}

.featured-backgroud2 {
    height: 285px;
    width: 250px;
    /* border: 2px solid red; */
    border-radius: 130px 130px 0 0;
    background-color: rgba(5, 151, 160, 0.15);
}

.featured-backgroud3 {
    height: 285px;
    width: 250px;
    /* border: 2px solid red; */
    border-radius: 130px 130px 0 0;
    background-color: rgba(71, 125, 17, 0.15);
}

.fd-img1 {
    height: 239px;
    width: 194px;
    padding: 46px;
    margin-left: -15px;
}

.fd-img2 {
    height: 240px;
    width: 223px;
    padding: 46px;
    margin-left: -21px;
}

.fd-img3 {
    height: 238px;
    width: 210px;
    padding: 46px;
    margin-left: -16px;
}

.fd-link1 {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-left: 55px;
}

.fd-link2 {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-left: 55px;
}

.fd-link3 {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 55px;
}

/* Featured Section Design End */


/* Featured square design start  */
.flower-square {
    height: 30vh;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.icon-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

/* Featured square design End  */

/* Hot deal section start */
.hot-deal {
    height: 100vh;

}

.hot-deal-square {
    height: 60vh;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 300px;
    display: flex;
    align-items: center;
    padding-left: 280px;
    gap: 100px;
}

.hot-deal-info {
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hot-deal-title-off {
    color: #E55473;
}

.hot-deal-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hot-img {
    width: 260px;
    height: 330px;
}


/* Hot deal section End */


/* Insta section start  */
.insta-img-block1 {
    height: 285px;
    width: 250px;
    background-image: url('./images/Flower\ 01.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.insta-img-block2 {
    height: 285px;
    width: 250px;
    background-image: url('./images/Rectangle\ 4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.insta-img-block3 {
    height: 285px;
    width: 250px;
    background-image: url('./images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.insta-img-block4 {
    height: 285px;
    width: 250px;
    background-image: url('./images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.insta-img-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.insta-section {
    height: 70vh;
    align-items: center;
    text-align: center;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 25px;
}

.insta-desc {
    width: 50%;
    margin: auto;
}

/* Insta section End  */


/* get latest Design start */
/* .get-latest {
    height: 70vh;
} */

.get-latest-bg {
    height: 40vh;
    width: 70%;
    margin: auto;
    background-image: url('./images/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 500px;
    align-items: center;
    text-align: center;

}

.get-info {
    padding: 20px;
}

.get-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 10px;
}

.get-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.get-input {
    height: 15px;
    width: 500px;
    border: none;
    padding: 15px;
}


/* get latest Design End */


/* Footer Design Start  */
.footer-conatainer {
    height: 40vh;
    background-color: #111010;
    margin-top: 200px;
    color: white;
    text-align: center;
    align-items: center;

}

.footer-title {
    padding-top: 100px;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer-title-sub {
    color: #E55473;
}



.footer-copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-weight: 400;

}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;

}

/* Footer Design End  */


/* First Assignment Done  */